
<%= form_for [@idea,@textpost], :html => { :multipart => true } do |f| %>

	<%= f.hidden_field :user_id, :value => current_user.id %>
	<%= f.hidden_field :date, :value => Date.today%>
	<div class="field"><%= f.file_field :picture %>

	<div class="field"> Title:<br>
	<%= f.text_field :subject %>
	</div>

	<div class="field"> Website:<br>
	<%= f.text_field :link %>
	</div>

	<div class="field"> Body:<br>
	<%= f.text_area :content, :size => "100x20"%>
	</div>

	<div class="field"> Submitted By:<br>
	<%= @idea.user.name %>
	</div>


	<div class="field"><br>
	<%= f.submit %>
	</div>
<% end %>