<div class="box1">
<div class="ideatitle"></div>



<div class="col-md-4">
<h1>Text      <%= link_to ' [ NEW ]', new_textpost_path %> </h1>
<div class="postbox">
<br><br>
<% @textposts.each do |tpost| %>
	<div class="posttitle"><strong><%= tpost.subject %></strong></div>
	<div class="postbody"><%= tpost.content %>
	</div>
	<div class="postauthor"><br>
	<strong>Posted by:</strong>
	 <%= tpost.user %>
	 <br><br>
	 <span class="edit_delete">
	<%= link_to '[ Edit ] ', edit_textpost_path(tpost) %>          
	<%= link_to ' [ Delete ]', tpost, method: :delete, data: { confirm: 'Are you sure?' } %></span>
	<br><br></div><br>
<% end %>
</div>
</div>


<div class="col-md-4">
<h1>Photo</h1>
<div class="postbox">
<% @textposts.each do |tpost| %>
	<div class="posttitle"><strong><%= tpost.subject %></strong></div><br>
	<div class="postbody"><%= tpost.content %></div>
	<div class="postauthor"><br>Posted by: <%= tpost.user %></div>
<% end %>
</div>
</div>



<div class="col-md-4">
<h1>Video!</h1>
<div class="postbox">
<% @textposts.each do |tpost| %>
	<div class="posttitle"><strong><%= tpost.subject %></strong></div><br>
	<div class="postbody"><%= tpost.content %></div>
	<div class="postauthor"><br>Posted by: <%= tpost.user %></div>
<% end %>
</div>
</div>



</div>
</div>